body{
    width: 100vw;
    height: 100vh;
}

#principalPage{
    margin: 0;
    background-image: linear-gradient( to bottom,#0196fd,#0196fd,#0196fd,#c6cbcd);
    width: 100vw;
    height: 100vh;
}

#logomarca{
    margin: 0;
    text-align: center;
}

#logo{
    margin: 5vw 0;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 23vw;
}

#buttons{
    display: grid;
    justify-content: center;
    align-items: center;
}

.button{
    z-index: 1;
    width: 30vw;
    padding: 1vh;
    font-size: 3vh;
    margin: 1vw;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: -3px 2px 5px rgba(31, 30, 30, 0.7);
    cursor: pointer;
}

.button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

#socialmedia{
    color: white;
    margin-right: 1vw;
    font-size: 2vw;
    text-decoration: none;
}

#facebook{
    background-color: #0065bb;
}

#whatsapp{
    background-color: #1d9f1a;
}

#instagram{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

@media only screen and (max-width: 720px){
    #principalPage{
        margin: 0;
        position: absolute;
        background-image: linear-gradient( to bottom,#0196fd,#0196fd,#0196fd,#838383);
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    #logomarca{
        text-align: center;
        margin: 15vw 0;
    }

    #logo{
        width: 50%;
    }

    #buttons{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .button{
        z-index: 1;
        width: 60vw;
        padding: 2%;
        margin: 3vw;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 50px;
        box-shadow: -3px 2px 5px rgba(31, 30, 30, 0.5);
        cursor: pointer;
    }

    #socialmedia{
        color: white;
        margin-right: 2vw;
        font-size: 6vw;
    }

    #facebook{
        background-color: #0065bb;
    }

    #whatsapp{
        background-color: #1d9f1a;
    }

    #instagram{
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    }

}